/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    /* プロジェクトによって変動 */
    min-width: 1000px;
    color: #000;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

    width: 100%;
    font-variant-numeric: tabular-nums;
    /* safari hover対策 */
    -webkit-font-smoothing: antialiased;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul, ol {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    text-decoration: none;
    color: inherit;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

img {
    vertical-align: bottom;
    line-height: 1.0;
}

button {
    line-height: 1.0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}


/*
 *    main CSS
 */

.head{
    height: 80px;
    background-color: #BE8A62;
}
    .head_left{
        height: 80px;
        text-align: center;
        vertical-align: center;
        float: left;
    }
        .pie-ce_logo{
            display: inline-block;
            height: 80px;
        }
            .pie-ce_icon{
                height: 80px;
                width: auto;
            }
    .head_right{
        float: right;
        height: 100%;
        width:auto;
    }
        .finder{
            margin: 4px 8px;
            padding-bottom:4px ;
            display: inline-block;
            width: 160px;
        }
        #form2{
            position:relative;
            max-width:300px;
            margin-bottom:20px;
            }
            #sbox2{
            height:28px;
            padding:0 10px;
            position:absolute;
            left:0;
            top:0;
            border-radius:4px;
            outline:0;
            background:#eee;
            }
            #sbtn2{
            height:30px;
            position:absolute;
            left:140px;/*アイコン左右の位置調整*/
            top:0;
            background:none;
            color:#666;
            border:none;
            font-size:20px;/*アイコンサイズ*/
            }
            #sbtn5:hover{
            color:#7fbfff;
        }
        .bell{
            width:auto;
            height:auto;
            margin: 4px;
            display: inline-block;
            padding-bottom: 2px;
        }
            .fa-bell{
                color: #aaa;
                font-size: 32px;
                text-shadow:
                    0.5px 0 0 #ccc,
                    0 0.5px 0 #ccc,
                    -0.5px 0 0 #ccc,
                    0 -0.5px #ccc
            }

        .usr_info_container{
            height: 80px;
            text-align: center;
            display: inline-block;
            margin:0 4px;
            width: auto;
        }
            .usr_icon{
                border: 4px solid #aaa;
                border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
                width:  48px;       /* ※縦横を同値に */
                height: 48px;       /* ※縦横を同値に */
            }
            .usr_name_container{
                width: auto;
            }
                .usr_name{
                    font-size: 14px;
                    font-weight: bolder;
                    color: white;

                }
        .menu_btn_container{
            height: auto;
            display: inline-block;
            margin: 4px;
        }
        #nav-drawer {
            margin: 8px 4px;
            position: relative;
            display: inline-block;
        }
        /*チェックボックス等は非表示に*/
        .nav-unshown {
        display: none;
        }
        /*アイコンのスペース*/
        #nav-open {
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
        }
        /*ハンバーガーの形をCSSで表現*/
        #nav-open span, #nav-open span:before, #nav-open span:after {
            position: absolute;
            height: 6px;/*線の太さ*/
            width: 50px;/*長さ*/
            border-radius: 3px;
            border: solid 1px #aaa;
            background: #888;
            display: block;
            content: '';
            margin: 0.5px;
        }
        #nav-open span:before {
            bottom: -16px;
        }
        #nav-open span:after {
            bottom: -32px;
        }
        /*閉じる用の薄黒箇所*/
        #nav-close {
            display: none;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
            transition: .3s ease-in-out;
        }
        /*メニューの中身*/
        #nav-content {
            overflow: auto;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 300;
            width: 90%;
            max-width: 400px;
            height: 100%;
            background: #fff;
            transition: .3s ease-in-out;
            -webkit-transform: translateX(105%);
            transform: translateX(105%);
        }
        /*チェックがついたら表示させる*/
        #nav-input:checked ~ #nav-close {
            display: block;
            opacity: .5;
        }
        #nav-input:checked ~ #nav-content {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            box-shadow: 6px 0 25px rgba(0,0,0,.15);
        }
        #nav-input{
            height: 48px;
        }
        .header-logo-menu{
            display: inline-block;
            display: -moz-flex;
            display: -o-flex;
            display: -webkit-flex;
            display: -ms-flex;
            flex-direction: row;
            -moz-flex-direction: row;
            -o-flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
        }
            .side_menu_usr_info{
                text-align: center;
            }
                .icon_container{
                    display: block;
                }
                    .side_menu_usr_icon{
                        margin: 20px 0;
                        width: 128px;
                        height: auto;
                        border-radius: 50%;
                        border: solid 3px #666;
                    }
                .side_menu_usr_name_container{
                    height: 40px;
                }
                    .side_menu_usr_name{
                        font-size: 28px;
                        font-weight: bolder;
                    }
                .ff_container{
                    padding: 16px;
                    height: 48px;
                    display: inline-block;
                    width: 92%;
                }
                    .follow_container{
                        float: left;
                        display: inline;
                        width: 46%;
                        padding: 0 2px;
                    }
                    .follower_container{
                        float: right;
                        display: inline;
                        width: 46%;
                        padding: 0 2px;
                    }
                        .ff_txt_container_left{
                            margin-right: 30%;
                        }
                        .ff_txt_container_left:hover{
                            transition: 0.5s;
                            background-color: rgb(208,208,208);
                            border-radius: 4px;
                        }
                        .ff_txt_container_right{
                            margin-left: 30%;
                        }
                        .ff_txt_container_right:hover{
                            transition: 0.5s;
                            background-color: rgb(208,208,208);
                            border-radius: 4px;
                        }
                            .follow_txt{
                                display: inline;
                                font-size: 20px;
                            }
                            .follower_txt{
                                display: inline;
                                font-size: 20px;
                            }
                            .ff_num{
                                display: inline;
                                font-size: 24px;
                            }
            .side_menu_tab{
                background-color: whitesmoke;
                height: 12%;
                margin: 2%;
                vertical-align: middle;
            }
                .side_menu_tab_txt{
                    font-size: 32px;
                    color: rgb(65, 65, 65);
                }
            .side_menu_tab:hover{
                transition: 1s;
                background-color: rgb(208, 208, 208);
            }


/*
 * WELCOME BOARD
 */
.welcome_board_container{
    width: 80%;
    height: 80%;
    position: fixed;
    z-index: 500;
    margin: 4% 16%;
}
    .welcome_board{
        display: block;
        width: 800px;
        height: 600px;
        border-radius: 2rem;
        background-color: white;
        border: solid 0.2rem #666;
    }

    .welcome_board_btn {
        color: #fff;
        background: #666;
        padding: .3em .5em;
        border-radius: .3em;
        text-align: center;
        display: table;
        cursor: pinter;
        position: fixed;
        margin-right: 160px;
        margin-top: 40px;
    }
    .welcome_board_btn:hover {
        cursor: pinter;
    }
    .welcome_board_btn:active {
        background: #aaa;
    }
    /* close button */
    .action-close {
        position: relative;
        margin-top: 2em;
    }
    .action-close .welcome_board_btn {
        position: absolute;
        right: 0;
        top: -1em;
    }
    .action-close .welcome_board_box {
        margin-bottom: 2em;
        border: 2px solid #aaa;
    }

    /* checkbox non-display */
    .add-control .welcome_board_checkbox {
        display: none;
    }

    /* close button's control */
    .add-control .action-close #welcome_board_close:checked ~ .welcome_board_btn {
        display: none;
    }
    .add-control .action-close #welcome_board_close:checked ~ .welcome_board {
        display: none;
    }



.main{
    text-align: center;
    height: auto;
    background-color: bisque;
    text-align: center;
}
    .main_tab{
        padding-top: 30px;
        margin: 0;
        text-align: center;
        width: 90%;
        height: 120px;
    }
        .tab_container{
            margin: auto;
            text-align: center;
            height: 80px;
        }
            .first_tab_container{
                height: 80px;
            }
                .nav {
                    position: relative;
                    width: 900px;
                    height: 60px;
                    margin:  auto;
                    padding: 0;
                    display: flex;
                }
                .nav li {
                    position: relative;
                    list-style: none;
                }
                .nav li a {
                    display: block;
                    width: 250px;
                    height: 60px;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                    line-height: 2.8;
                    background: #f55c6e;
                    transition: 0.5s;
                    text-decoration: none;
                    border-right: 1px solid #eee;
                    box-sizing: border-box;
                }
                .nav > li:hover > a {/*layer-1*/
                    color: rgb(255, 208, 120);
                    background: #ff9999;
                }
                .nav > li li:hover > a {/*layer-2*/
                    color: olive;
                    background: #e7fcc2;
                }
                .nav li ul {
                    top: 60px;
                    position: absolute;
                }
                .nav li:hover > ul > li {
                    overflow: visible;
                    height: 60px;
                }
                .nav li ul li {
                    overflow: hidden;
                    height: 0;
                    transition: 0.2s;
                }
                .nav li ul li a {
                    border-top: 1px solid #eee;
                }

            .filter_container{
                margin: -16px;
                height: 10px;
                float: right;
            }
                .filter{
                    width: 120px;
                    height:30px;
                    background-color: #aaaaaa;
                    border-radius: 12px;
                }
                .filter:hover{
                    transition: 0.5s;
                    background-color: slategray;
                }
                    .filter_icon{
                        margin: 3px 0 0 0;
                        display: inline-block;
                        color:white;
                        font-size: 1.6em;
                    }
                    .filter_txt{
                        display: inline-block;
                        color:white;
                        font-size: medium;
                        font-weight: bolder;
                    }
                    #filter_content{
                        display: none;
                        position: relative;
                        margin: 0 0 0 -100px;
                        height: 400px;
                        width: 300px;
                        background-color: white;
                        z-index: 200;
                        border-radius: 10px;
                        border: solid 2px #aaa;
                    }
                    .filter_hover:hover ~ #filter_content{
                        display: block;
                    }
                    #filter_content:hover{
                        display:block;
                    }

    .pie_group_container{
        padding-top: 30px;
        margin: auto;
        text-align: center;
        width: 75%;
        height: auto;
        background-color: white;
    }
        .pie_group{
            text-align: center;
            margin: auto;
        }
        .h2_pie{
            margin: auto;
            width: 95%;
            height: 40px;
            background-color: rgb(250, 232, 200);
            font-size: 24px;
            color: black;
        }
        .populer_group{

        }
        .new_group{

        }
        .latest_group{

        }
            .pie_family_container{
                width: 100%;
                text-align: center;
                margin: auto;
            }
                .pie_family{
                    height: auto;
                    width: 16%;
                    display: inline-block;
                    margin: 20px;
                    background-color: white;
                }
                    .pie_icon_container{
                        position: relative;
                        width: 80%;
                        height: auto;
                        margin: 0px 16px;
                    }
                        .pie_frame{
                            position: absolute;
                            width: 100%;
                            z-index: 10;
                        }
                        .pie_icon{
                            position: relative;
                            margin: 0 0 0 -2px;
                            border-radius: 50%;
                            width: 100%;
                            z-index: 5;
                        }
.foot{
    text-align: center;
    height: 200px;
    background-color: rgb(255, 255, 255);
}