<header>
    <div class="head">
        <div class="head_left">
            <div class="pie-ce_logo">
                <img class="pie-ce_icon" src="./items/pie-ce_icon.jpeg" alt="pie-ce icon">
            </div>
        </div>
        <div class="head_right">
            <div class="finder">
                <form id="form2" action="自分のサイトURL" method="get">
                    <input id="sbox2"  id="s" name="s" type="text" placeholder="フリーワードを入力"/>
                    <button type="submit" id="sbtn2"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="bell">
                <a href="#">
                    <i class="far fa-bell"></i>
                </a>
            </div>
            <div class="usr_info_container">
                <div class="usr_icon_container">
                    <img class ="usr_icon" src="./items/icon.JPG" alt="#ur_name">
                </div>
                <div class="usr_name_container">
                    <p class="usr_name">shio0409</p>
                </div>
            </div>
            <div class="menu_btn_container">
                <div class="header-logo-menu">
                    <div id="nav-drawer">
                        <input id="nav-input" type="checkbox" class="nav-unshown">
                        <label id="nav-open" for="nav-input"><span></span></label>
                        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                        <div id="nav-content">
                            <div class="side_menu_usr_info">
                                <div class="icon-container">
                                    <img class="side_menu_usr_icon" src="./items/icon.JPG" alt="your icon">
                                </div>
                                <div class="side_menu_usr_name_container">
                                    <div class="side_menu_usr_name">
                                        <p>
                                            shio0409
                                        </p>
                                    </div>
                                </div>
                                <div class="ff_container">
                                    <div class="follow_container">
                                        <div class="ff_txt_container_right">
                                            <a href="">
                                                <p class="follow_txt">
                                                    follow
                                                </p>
                                                <p class="follow_num ff_num">
                                                    23
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="follower_container">
                                        <div class="ff_txt_container_left">
                                            <a href="">
                                                <p class="follower_txt">
                                                    follower
                                                </p>
                                                <p class="follower_txt ff_num">
                                                    30
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="mypage_container side_menu_tab">
                                    <p class="side_menu_tab_txt mypage_txt" href="#">
                                        mypage
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="side_menu_tab">
                                    <p class="side_menu_tab_txt none_txt" href="#">
                                        none
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="list_container side_menu_tab">
                                    <p class="side_menu_tab_txt list_txt" href="#">
                                        list
                                    </p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="setting_container side_menu_tab">
                                    <p class="side_menu_tab_txt setting_txt">
                                        setting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
</header>